@import 'tailwindcss';

@plugin "@iconify/tailwind4";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/Inter-VariableFont.woff2") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/Inter-Italic-VariableFont.woff2") format("woff2");
}

@layer base {
    /* Headline */
    h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 125%;
    }
    h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 133%;
    }
    h3 {
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
    }
    h4 {
        font-size: 18px;
        font-weight: 500;
        line-height: 144%;
    }
    h5 {
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
    }
    h6 {
        font-size: 14px;
        font-weight: 600;
        line-height: 143%;
    }
    /* Body Text */
    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 143%;
    }
    /* Caption Text */
    span {
        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
    }
}

@layer components {
    /* Body Text */
    p.large {
        @apply text-base font-normal leading-[150%];
    }
    p.small {
        @apply text-xs font-normal leading-[140%];
    }
    /* Caption Text */
    span.small {
        @apply text-[11px] font-normal leading-[145%];
    }
    span.extrasmall {
        @apply text-[10px] font-normal leading-[140%];
    }
    /* Button and Link */
    .circle-menu-search {
        @apply flex justify-center items-center p-2 size-12 rounded-full bg-white cursor-pointer;
    }
    .menu-nav-link {
        @apply flex justify-between items-center p-4 cursor-pointer;
        span {
            @apply text-3xl text-qt-green-normal;
        }
    }
    .menu-nav-back {
        @apply flex items-center py-4 font-medium text-lg gap-2.5 cursor-pointer;
        span {
            @apply text-3xl text-qt-green-normal;
        }
    }
    .menu-nav-sublink {
        @apply flex items-center gap-2.5 p-4;
        span {
            @apply text-3xl text-qt-green-normal;
        }
    }
    button.tab {
        @apply py-2.5 px-5 font-semibold text-qt-green-normal rounded-full cursor-pointer text-xs hover:bg-[#E7F1F2] hover:text-qt-green-hover;
        &.active {
            @apply text-qt-green-hover bg-[#E7F1F2];
        }
    }
    button.tab-border {
        @apply inline-block whitespace-nowrap w-max relative py-5 font-semibold text-sm text-[#6D6D6D];
        &.active {
            @apply text-black before:absolute before:left-0 before:bottom-0 before:content-[''] before:w-full before:h-[3px] before:bg-qt-green-normal before:rounded-t-xl;
        }
    }
    a.tab {
        @apply py-2.5 px-5 font-semibold text-qt-green-normal rounded-full cursor-pointer text-xs inline-block hover:bg-[#E7F1F2] hover:text-qt-green-hover;
        &.active {
            @apply text-qt-green-hover bg-[#E7F1F2];
        }
    }
    a.tab-border {
        @apply inline-block whitespace-nowrap w-max relative py-5 font-semibold text-sm text-[#6D6D6D];
        &.active {
            @apply text-black before:absolute before:left-0 before:bottom-0 before:content-[''] before:w-full before:h-[3px] before:bg-qt-green-normal before:rounded-t-xl;
        }
    }
}

@layer utilities {
    /* Custom Gradient */
    .bg-gradient-qt-green {
        background: #00686B;
        background: linear-gradient(180deg,rgba(0, 104, 107, 0) 0%, rgba(0, 104, 107, 1) 37%, rgba(0, 104, 107, 1) 74%, rgba(0, 54, 56, 1) 100%);
    }
    .bg-gradient-black-transparent {
        background: #000000;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
    .drop-shadow-float {
        box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    }
    .drop-shadow-float-lg {
        box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    }
    /* Custom Scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
        height: 4px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: #bbbbbb;
    }

    .zoom-container {
  position: relative;
  overflow: hidden;
  width: 100%;  /* ukuran tampilan */
  height: 312px;
  cursor: crosshair;
}

.zoom-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  transition: transform 0.2s ease, transform-origin 0.2s ease;
}

}

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

    --color-qt-green-normal: #127681;
    --color-qt-green-hover: #00686B;
}

[x-cloak] {
    @apply hidden!;
}

.splide__pagination {
    &.slide-home {
        @apply gap-2 flex-nowrap! z-20!;
        li {
            @apply w-full;
        }
        button {
            &.splide__pagination__page {
                @apply w-full h-1 rounded-full opacity-30;
                &.is-active {
                    @apply opacity-100;
                    transform: scale(1) !important;
                }
                &:focus {
                    @apply outline-white;
                }
            }
        }
    }
    &.slide-testimonial {
        @apply gap-2 flex-nowrap! z-20! -bottom-9;
        li {
            @apply w-8;
        }
        button {
            &.splide__pagination__page {
                @apply w-full h-1 rounded-full opacity-30;
                &.is-active {
                    @apply opacity-100;
                    transform: scale(1) !important;
                }
                &:focus {
                    @apply outline-white;
                }
            }
        }
    }
}

.splide__arrows.thumbnail-arrows {
    @apply flex justify-end-safe gap-2 w-max;
    .splide__arrow {
        width: 40px;
        height: 40px;
        border-radius: 0;
        background: none;
        transform: translateY(0%);
        color: #B3B3B3;
        &.splide__arrow--prev {
            @apply static left-auto! right-0!;
        }
        &.splide__arrow--next {
            @apply static right-0!;
        }
        &:disabled {
            opacity: 0.25;
        }
    }
}

.splide__track--nav>.splide__list>.splide__slide {
    @apply rounded-lg overflow-hidden border! border-[#F0F3F6]!;
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
    @apply rounded-lg overflow-hidden border! border-[#6D6D6D]!;
}
