@import 'tailwindcss';

@plugin "@iconify/tailwind4";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

    --color-qt-green-normal: #127681;
    --color-qt-green-hover: #00686B;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("http://quantum.test/fonts/Inter-VariableFont.woff2") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("http://quantum.test/fonts/Inter-Italic-VariableFont.woff2") format("woff2");
}

@layer base {
    /* Headline */
    h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 125%;
    }
    h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 133%;
    }
    h3 {
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
    }
    h4 {
        font-size: 18px;
        font-weight: 500;
        line-height: 144%;
    }
    h5 {
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
    }
    h6 {
        font-size: 14px;
        font-weight: 600;
        line-height: 143%;
    }
    /* Body Text */
    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 143%;
    }
    /* Caption Text */
    span {
        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
    }
    /* Checkbox */
    input[type=checkbox] {
        position: relative;
        border: 1px solid #6D6D6D;
        border-radius: 4px;
        background: none;
        cursor: pointer;
        line-height: 0;
        margin: 0;
        outline: 0;
        padding: 0 !important;
        vertical-align: text-top;
        height: 16px;
        width: 16px;
        -webkit-appearance: none;
    }
    input[type=checkbox]:checked {
        background-color: #127681;
        border: none;
        opacity: 1;
    }
    input[type=checkbox]:before {
        content: '';
        position: absolute;
        right: 50%;
        top: 50%;
        width: 5px;
        height: 10px;
        border: solid #FFF;
        border-width: 0 2px 2px 0;
        margin: -1px -1px 0 -1px;
        transform: rotate(45deg) translate(-50%, -50%);
        z-index: 2;
    }
}

@layer components {
    /* Body Text */
    p.large {
        @apply text-base font-normal leading-[150%];
    }
    p.small {
        @apply text-xs font-normal leading-[140%];
    }
    /* Caption Text */
    span.small {
        @apply text-[11px] font-normal;
    }
    span.extrasmall {
        @apply text-[10px] font-normal leading-[140%];
    }
    /* Button and Link */
    .circle-menu-search {
        @apply flex justify-center items-center p-2 size-12 rounded-full bg-white cursor-pointer;
    }
    .menu-nav-link {
        @apply flex justify-between items-center p-4 cursor-pointer;
        span {
            @apply text-3xl text-qt-green-normal;
        }
    }
    .menu-nav-back {
        @apply flex items-center py-4 font-medium text-lg gap-2.5 cursor-pointer;
        span {
            @apply text-3xl text-qt-green-normal;
        }
    }
    .menu-nav-sublink {
        @apply flex items-center gap-2.5 p-4;
        span {
            @apply text-3xl text-qt-green-normal;
        }
    }
    button.tab {
        @apply py-2.5 px-5 font-semibold text-qt-green-normal rounded-full cursor-pointer text-xs whitespace-nowrap hover:bg-[#E7F1F2] hover:text-qt-green-hover;
        &.active {
            @apply text-qt-green-hover bg-[#E7F1F2];
        }
    }
    button.tab-border {
        @apply inline-block whitespace-nowrap w-max relative py-5 font-semibold text-sm text-[#6D6D6D];
        &.active {
            @apply text-black before:absolute before:left-0 before:bottom-0 before:content-[''] before:w-full before:h-[3px] before:bg-qt-green-normal before:rounded-t-xl;
        }
    }
    a.tab {
        @apply py-2.5 px-5 font-semibold text-qt-green-normal rounded-full cursor-pointer text-xs whitespace-nowrap inline-block hover:bg-[#E7F1F2] hover:text-qt-green-hover;
        &.active {
            @apply text-qt-green-hover bg-[#E7F1F2];
        }
    }
    a.tab-border {
        @apply inline-block whitespace-nowrap w-max relative py-5 font-semibold text-sm text-[#6D6D6D];
        &.active {
            @apply text-black before:absolute before:left-0 before:bottom-0 before:content-[''] before:w-full before:h-[3px] before:bg-qt-green-normal before:rounded-t-xl;
        }
    }
    /* Recipe */
    .recipe-list p {
        @apply py-1.5;
        &:not(:last-child) {
            @apply border-b border-[#DBDBDB];
        }
    }
    /* Floating Label Input */
    .floating-label-input {
        label {
            @apply absolute transition-all duration-200 ease-in-out text-xs left-3 text-[#6D6D6D]/60 px-1;
            &.floating {
                @apply visible bg-white -top-2 opacity-100;
            }
            &.not-floating {
                @apply invisible top-1 opacity-0;
            }
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
            @apply w-full p-3 rounded-xl border outline-offset-2 text-[#6D6D6D] text-sm border-[#E9E9E9] outline-none focus:border-[#6D6D6D] placeholder:text-[#6D6D6D]/60;
        }
        button#select-form {
            @apply flex justify-between items-center w-full p-3 rounded-xl border text-sm border-[#E9E9E9] outline-none cursor-pointer focus:border-[#6D6D6D];
            &.filled {
                @apply text-[#6D6D6D];
            }
            &.not-filled {
                @apply text-[#6D6D6D]/60;
            }
        }
    }
    /* Article Content */
    .article-content {
        @apply flex flex-col gap-5;
        p {
            @apply text-base font-normal leading-[150%];
        }
        a {
            @apply border-b-2 border-qt-green-normal;
        }
        img {
            @apply mx-auto aspect-49/30 object-cover rounded-xl;
        }
        ul {
            @apply list-disc ml-5;
        }
        ol {
            @apply list-decimal ml-5;
        }
    }
    /* Rule Content */
    .rules-content {
        @apply flex flex-col gap-5;
        p {
            @apply text-sm font-normal leading-[143%];
        }
        a {
            @apply border-b-2 border-qt-green-normal;
        }
        ul {
            @apply list-disc ml-5;
            li::marker {
                @apply text-sm;
            }
        }
        ol {
            @apply list-decimal ml-5;
            li::marker {
                @apply text-sm;
            }
        }
    }
    /* Iframe */
    .map-iframe {
        @apply rounded-2xl overflow-hidden;
        iframe {
            @apply aspect-17/21 size-full;
        }
    }
}

@layer utilities {
    /* Custom Gradient */
    .bg-gradient-qt-green {
        background: #00686B;
        background: linear-gradient(180deg,rgba(0, 104, 107, 0) 0%, rgba(0, 104, 107, 1) 37%, rgba(0, 104, 107, 1) 74%, rgba(0, 54, 56, 1) 100%);
    }
    .bg-gradient-black-transparent {
        background: #000000;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
    .drop-shadow-float {
        box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    }
    .drop-shadow-float-lg {
        box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    }
    /* Custom Scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
        height: 4px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: #bbbbbb;
    }
    /* Add New Utility */
    .scrollbar-gutter-stable {
        scrollbar-gutter: stable;
    }
    .capitalize-first {
        &::first-letter {
            text-transform: capitalize;
        }
    }
}

/* Customization */

[x-cloak] {
    @apply hidden!;
}

.splide__pagination {
    &.slide-home {
        @apply gap-2 flex-nowrap! z-20!;
        li {
            @apply w-full;
        }
        button {
            &.splide__pagination__page {
                @apply w-full h-1 rounded-full opacity-30;
                &.is-active {
                    @apply opacity-100;
                    transform: scale(1) !important;
                }
                &:focus {
                    @apply outline-white;
                }
            }
        }
    }
    &.slide-testimonial {
        @apply gap-2 flex-nowrap! z-20! -bottom-9;
        li {
            @apply w-8;
        }
        button {
            &.splide__pagination__page {
                @apply w-full h-1 rounded-full opacity-30;
                &.is-active {
                    @apply opacity-100;
                    transform: scale(1) !important;
                }
                &:focus {
                    @apply outline-white;
                }
            }
        }
    }
}

.splide__arrows.thumbnail-arrows {
    @apply flex justify-end-safe gap-2 w-max;
    .splide__arrow {
        width: 40px;
        height: 40px;
        border-radius: 0;
        background: none;
        transform: translateY(0%);
        color: #B3B3B3;
        &.splide__arrow--prev {
            @apply static left-auto! right-0!;
        }
        &.splide__arrow--next {
            @apply static right-0!;
        }
        &:disabled {
            opacity: 0.25;
        }
    }
}

.splide__track--nav>.splide__list>.splide__slide {
    @apply rounded-lg overflow-hidden border! border-[#F0F3F6]!;
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
    @apply rounded-lg overflow-hidden border! border-[#6D6D6D]!;
}

.datepicker {
    @apply w-full!;
    .datepicker-header {
        @apply mb-4!;
    }
    .datepicker-controls {
        button.button {
            &.view-switch {
                @apply text-left pl-3.5 order-1! cursor-pointer!;
            }
            &.prev-button.prev-btn {
                @apply block! flex-none! size-8! order-2! p-0! cursor-pointer!;
            }
            &.next-button.next-btn {
                @apply block! flex-none! size-8! order-3! p-0! cursor-pointer!;
            }
        }
    }
    .datepicker-view {
        @apply w-full!;
    }
    .datepicker-cell.today.focused:not(.selected) {
        @apply bg-black! text-white!;
    }
    .datepicker-cell.today:not(.selected) {
        @apply bg-white! text-black! border! border-black!;
    }
    .datepicker-cell.selected, .datepicker-cell.selected:hover {
        @apply bg-black! text-white!;
    }
    .datepicker-cell.prev:not(.disabled),
    .datepicker-cell.next:not(.disabled) {
        @apply text-black/30!;
    }
}
